body{background-color: darkgrey;}
header{background-color: darkred;background-size: cover; }
#dd{background-color:darkred ;padding: 25px;margin: 15px;}
h1{color: rgb(201, 193, 193); text-align: center; text-shadow: rgb(92, 87, 87);}
h2{color: rgb(143, 138, 138);text-align: center;}
p{color: black;font-family: Georgia, 'Times New Roman', Times, serif;margin: 15px;border: brown 3px solid;border: slateblue 3px;margin: auto; padding: 15px;}
#lim{background-color: rgb(207, 207, 207);box-shadow: 10px 10px 5px grey;}
h3{color:black ;text-shadow: -1px 0 black,0 1px black, 1px 0 black,0 -1px black;}
#menu{background-color: rgb(206, 204, 190);}